In [1]:
#tuple is a collection of elements
#tuple is immutable

In [2]:
#creation of tuple 
a = (10,22.5,"shreya",True)
print(a)

(10, 22.5, 'shreya', True)

In [3]:
type(a)

tuple

In [4]:
#indexing and slicing in tuple 
a[0]

10

In [5]:
a[-1]

True

In [6]:
a[1:3]

(22.5, 'shreya')

In [7]:
a[:2]

(10, 22.5)

In [8]:
a[2:]

('shreya', True)

In [9]:
#tuples are immutable
a[2]="aabha"

TypeError: 'tuple' object does not support item assignment

In [10]:
len(a)

4

In [11]:
x = (1,2,3)
y = (4,5,6)
type(x)

tuple

In [12]:
type(y)

tuple

In [13]:
x+y

(1, 2, 3, 4, 5, 6)

In [14]:
y+x

(4, 5, 6, 1, 2, 3)

In [15]:
x,y

((1, 2, 3), (4, 5, 6))

In [16]:
a = (10,"shreya",30,20)
b= (1,2,3,4)
a+b

(10, 'shreya', 30, 20, 1, 2, 3, 4)

In [17]:
# FUNCTIONS OF TUPLES

In [18]:
# MINMAX FUNCTION

In [19]:
x = (1,2,3)
min(x)

1

In [20]:
max(x)

3

In [21]:
a = ("shreya","aabha","shruti","sejal")
min(a)

'aabha'

In [22]:
max(a)

'shruti'

In [23]:
b = ('a','b','c')
min(b)

'a'

In [24]:
x = (1,2,3)
x*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)